body {

	margin: 0;
	padding: 0;
	background: darkgray;
	color: black;
	font-family: sans-serif;
}

.header {
	padding: 10px;
	text-align: center;
	background: black;
	color: white;
	font-size: 14px;
	text-shadow: 10px;
}
.leftcolumn { 
  align-content: left;
  padding: 1em;
  width: 60%;

}

.footercard {
	padding: 10px;
	text-align: center;
	background: black;
	color: white;
	font-size: 7px;
	text-shadow: 10px;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.box {
	height: 150px;
	text-align: center;
	color: white;
	width: 100%;
	margin: 0em, 1em, 1em;
	background-color: darkred;
}
.footer {
	padding: 10px;
	text-align: center;
	background: black;
	color: white;
	font-size: 7px;
	text-shadow: 10px;
}
